/*ALL*/
body {
    /*Suppresion des marges du body pour coller les éléments au bord.*/
    padding: 0px;
    margin: 0px;
    font-family: CabinRegular;
    background-color: #e9e9e9;
}

@font-face {
    font-family: CabinRegular;
    src: url('../assets/Fonts/Cabin-Regular.ttf');
}





/*HOME*/
/*On sélectionne la classe 'imageHomeOpenSpace'*/
.imageHomeOpenSpace {
    width: 150%;
}

/*Header to page Home*/
.headerHome {
    background-color: #e9e9e9;
    width: 65vw;
    position: absolute;
    margin-top: -7vh;
    margin-left: 15vw;

}
.headerHome h1 {
    text-align: center;
    font-size: 25px;
}
.headerHome h3{
    text-align: center;
}


/*Page Home*/






