header .container{
    margin:auto;
}
header .container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:auto;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    border:2.5px solid black;
    padding: 3px;
    box-shadow: 6px 5px 5px #B1E0B9;
    text-shadow: 5px 5px rgb(222, 216, 215 );
    
    text-align: center;
    font-size: 3vh;
    
}
header .title {
    padding: 3px;
    text-shadow: 5px 5px rgb(222, 216, 215 );
}