header .mobile--nav {
    display: none;
}

header nav.desktop{
    width: 50%;
    margin-left:25%;
    height: 25px;
    display:flex;
    align-items: center;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin:auto;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    border:2.5px solid black;
    padding: 1vh;
    box-shadow: 6px 5px 5px #B1E0B9;
    text-align: center;
    font-size: 2vh;
    margin-left:25%;

    border-radius:20px;

}


header nav.desktop p{
    margin-left: 5vw;
    font-size: 2vh;
}
#accueil{
        margin-left: 0vw;
}

    header nav.desktop a{
        position: relative;
}
header nav.desktop .submenu{
    display: none;
}

#deroulant:hover .submenu{
    display: flex;
    position: absolute;
    flex-direction: column;
    max-width: 100%;
    z-index: 2;
    text-align: center;
    border:2.5px solid black;
    padding: 3px;
    box-shadow: 6px 5px 5px #B1E0B9;
    border-bottom-right-radius: 15px;
    backdrop-filter: blur(5px);
    margin-top: -1vh;
}


header nav.desktop .submenu p {
        color: #0c0c0c;
        font-size: 2vh;
        margin-top: 0px;
        margin-left: 2px;
    }
header nav.desktop .submenu p:first-of-type{
        margin-top: 5px;
    }