.desktop {
  display: none;
}

.mobile--nav {
  position: fixed;
  z-index:4
}

#menuToggle{
 display: block;
 position: relative;
 top: 50px;
 left: 50px;
 z-index: 1;
}
#menuToggle a{
 text-decoration: none;
 color: #232323;
}
#menuToggle a:hover{
 color: #B1E0B9;
}

#menuToggle input{
 display: block;
 width: 40px;
 height: 32px;
 position: absolute;
 top: -7px;
 left: -5px;
   
 opacity: 0;
 z-index: 4;
}

#menuToggle .menu-icon{
 display: block;
 width: 33px;
 height: 4px;
 margin-bottom: 5px;
 position: relative;
 
 background: #cdcdcd;
 border-radius: 3px;
 
 z-index: 1;
 
 transform-origin: 5px 0px;
 
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             opacity 0.55s ease;
}

#menuToggle input[type=checkbox]{
  margin-left: -10px;
  z-index: 5;

}
#menuToggle input:checked ~ .menu-icon{
  background-color: #232323;
  z-index: 5;
}
#menuToggle input ~ .menu-icon {
   background-color: #232323;
   margin-left: -15px;
   z-index: 5;
}

#menu{
 position: absolute;
 width: 300px;
 margin: -100px 0 0 -60px;
 padding: 50px;
 display: flex;
 flex-direction: column;
 padding-top: 125px;
 background: #ededed;
 border-right: 1px solid #232323;
 border-bottom: 1px solid #232323;
 box-shadow: 6px 5px 5px #B1E0B9;
 list-style-type: none;
 transform-origin: 0% 0%;
 transform: translate(-100%, 0);
 transition: transform 0.5s cubic-bezier(0.80,0.5,0.25,1.5);
 z-index: 4;
 border-radius:55px;
}

#menu a{
 padding: 10px 0;
 font-size: 22px;
}

.color-nav {
  color: var(--main-bg-color);
  animation: random 5s infinite;
  margin-right: 15px;
}
@keyframes  random {
  15% { color: red; } 
  30% { color: yellow; } 
  45% { color: green; } 
  60% { color: blue; }
  75% { color: white; }  
}

#menuToggle input:checked ~ ul{
 transform: none;
}

